{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <div class="container-header">
      <img class="img-header" src="{% static 'img/logo-amonio-plus.svg' %}" alt="amonio plus"></img>
    </div>
  </header>
  <section>
    <div class="container-registro">
      <h1 class="h1-regustro">GRACIAS POR CONFIAR EN AMONIO PLUS</h1>
      <P class="p-registro">
        Recibirás un mensaje por <strong>Whatsaap</strong> para coordinar la venta. En caso de no recibir el mensaje dentro de <strong>30 minutos</strong>, porfavor comunícate con nosotros al <strong>0983549705.</strong>
      </P>
    </div>
  </section>
  <footer>
    <div class="container-footer">
      <!-- <h4 class="cookies">
        Politica de cookies
      </h4>
      <h4 class="footer-privacidad">
        Politica de privacidad
      </h4> -->
      <h4 class="licencia">
        Licencia de imagen
        <a href="http://www.freepik.com" target="blank">Designed by jemastock / Freepik</a>
      </h4>
    </div>
  </footer>
</body>
</html>